/* trees-story.tursics.de - CSS file */

@font-face {
	font-family: 'Inconsolata';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/inconsolata-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Inconsolata'),
		url('fonts/inconsolata-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/inconsolata-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/inconsolata-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/inconsolata-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/inconsolata-v12-latin-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/montserrat-v7-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat-Regular'),
		url('fonts/montserrat-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/montserrat-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/montserrat-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/montserrat-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/montserrat-v7-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/noto-serif-v4-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Noto Serif'), local('NotoSerif'),
		url('fonts/noto-serif-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('fonts/noto-serif-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/noto-serif-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
		url('fonts/noto-serif-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/noto-serif-v4-latin-regular.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

.normal {
	font-size: 13px;
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-weight: 400;
}
.bold {
	font-size: 13px;
	font-family: 'Inconsolata', monospace;
	font-style: normal;
	font-weight: 700;
}
.center {
	text-align: center;
}

/* page */

#pageMap {
	width: 100%;
	height: 100%;
	text-shadow: none !important;
}

/* map */

#mapContainer {
	width: 100%;
	height: 80%;
	padding: 0px !important;
	background: url(./assets/thetree.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* leaflet */

.leaflet-control-attribution, .leaflet-container a {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #38aadd !important;
}

/* header at top */

#mapContainer {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	color: #fff;
	text-align: right;
	line-height: 1.3;
}
#mapContainer div.box  {
	position: absolute;
	bottom: 30%;
}
#mapContainer h1 {
	font-family: 'Noto Serif', serif;
	margin: 0 0 0 50%;
	background: rgba(0,0,0,.5);
	padding: 0 .2em;
	font-size: 40px;
}
#mapContainer div div {
	margin: 0 0 0 50%;
	background: rgba(0,0,0,.5);
	padding: .5em;
}

#headerBox {
	position: fixed;
	top: 0;
	width: 100%;
	background: #efede4;
	text-align: left;
	padding: 7px 0;
	line-height: 26px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	z-index: 10;
}
#headerBox.big {
	text-align: center;
	border-bottom: 2px solid #900;
	padding: 1em 0;
	line-height: 1.3;
}
#headerBox h1 {
	margin: 0;
	padding-left: 3.5em;
	font-size: 20px;
	-webkit-transition: font-size 200ms linear;
	-moz-transition: font-size 200ms linear;
	-ms-transition: font-size 200ms linear;
	-o-transition: font-size 200ms linear;
	transition: font-size 200ms linear;
}
#headerBox.big h1 {
	margin: 0.2em 0 .1em 0;
	padding-left: 0;
	font-size: 42px;
}
#headerBox div {
	display: none;
	font-family: 'Noto Serif', serif;
	font-size: 18px;
}
#headerBox.big div {
	display: block;
}
#headerBox .author {
	display: block;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 7px;
	left: 7px;
	font-size: 12px;
	border-right: 1px solid #38aadd;
	padding: 0 7px 0 0;
}
#headerBox.big .author {
	border-right: 0;
	padding: 0;
}
#headerBox .author a {
	color: #000;
	text-decoration: none;
	line-height: 2em;
	padding: 0;
	margin: 0;
	padding: .5em 0;
}
#headerBox .author a img {
	height: 25px;
	vertical-align: middle;
}
#headerBox .author span {
	display: none;
}
#headerBox.big .author span {
	display: inline;
}
#headerBox .social {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	position: absolute;
	top: 7px;
	right: 2px;
}
#headerBox .social a {
	font-weight: 400;
}
#headerBox .social .facebook, #headerBox .social .twitter {
	color: #fff;
	text-decoration: none;
	line-height: 2em;
	padding: .25em;
	margin: 0 5px 0 0;
	border-radius: 4px;
}
#headerBox .social .facebook {
	background: #3b5998;
}
#headerBox .social .facebook:before {
	content: "\f09a";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 0 10px 0 0;
}
#headerBox .social .twitter {
	background: #55acee;
}
#headerBox .social .twitter:before {
	content: "\f099";
	font: normal normal normal 14px/1 FontAwesome;
	padding: 0 10px 0 0;
}
#headerBox .social span {
	display: none;
	margin: 0 0 0 7px;
	padding: 1px 3px;
	border-radius: 4px;
	background: #fff;
}
#headerBox .social span.active {
	display: inline;
}
#headerBox .social .facebook span {
	color: #3b5998;
}
#headerBox .social .twitter span {
	color: #55acee;
}

/* pageStory */

body, .ui-overlay-a, .ui-page-theme-a {
	background: #efede4;
}

#pageStory {
	background: #fff;
	font-family: 'Noto Serif', serif;
	font-size: 18px;
	max-width: 38em;
	margin: 0 auto;
	line-height: 1.7em
}
#pageStory div {
	padding: 1em;
}
#pageStory .printerLabel {
	margin: 0 auto;
	display: table;
}
#pageStory .printerLabel div {
	padding: 0;
}
#pageStory .printerLabel .leaflet-popup-content-wrapper {
	padding: 1px;
	float: left;
	margin: 0 1em;
}
#pageStory a {
	color: #ce0000;
	text-decoration: none;
	font-weight: 400;
}
#pageStory a:hover {
	text-decoration: underline;
}

#pageStory div.source {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #999;
	position: absolute;
	left: 0;
	margin-top: -2em;
	line-height: 1.4em;
}

#pageStory div.embedTwitter {
	text-align: center;
}
#pageStory div.embedTwitter iframe {
	margin: 0 auto;
}

#pageStory div.embedTable {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#pageStory div.embedTable h3 {
	margin: 0;
	text-align: center;
}
#pageStory div.embedTable table {
	margin: 0 auto;
	background: #fff;
	border: 1px solid #ccc;
	border-spacing: 0;
	border-radius: 4px;
	padding: 1em;
}
#pageStory div.embedTable tr {
	line-height: 1.4em;
}
#pageStory div.embedTable tr:nth-child(odd) {
	background: #efede4;
}
#pageStory div.embedTable th {
	background: #fff;
	text-align: left;
	border-bottom: 2px solid #900;
}
#pageStory div.embedTable td {
	border-top: 1px solid #ddd;
}
#pageStory div.embedTable th, #pageStory div.embedTable td {
	padding: .3em 1em;
}
#pageStory div.embedTable div {
	font-size: 12px;
	color: #999;
	padding: .5em 0 0 0;
	line-height: 1.4em;
}
#pageStory div.embedTable td:nth-child(even) {
	text-align: right;
}

#pageStory div.embedImage {
	padding: 1em 0;
	margin: 0 -4em;
}
#pageStory div.embedImage img {
	width: 100%;
}
#pageStory div.embedImage div {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #999;
	padding: .5em 7.5em 0 7.5em;
	line-height: 1.4em;
}

#pageStory div.embedQuiz {
	background: #ede6c2;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0;
}
#pageStory div.embedQuiz h3 {
	background: #e6e18d;
	font-size: 21px;
	margin: 0 auto;
	color: #fff;
	display: table;
	border-radius: 0 0 1em 1em;
	padding: 0 2em;
	font-weight: 300;
}
#pageStory div.embedQuiz .question {
	padding: 0;
}
#pageStory div.embedQuiz .questionOptions {
	padding: 0;
	margin: 0;
	text-align: center;
}
#pageStory div.embedQuiz .questionOptions a {
	background: #efede4;
	border-color: #900;
	text-shadow: none;
}
#pageStory div.embedQuiz .questionOptions a {
	background: #efede4;
	border-color: #900;
	text-shadow: none;
}
#pageStory div.embedQuiz .page {
	display: none;
}
#pageStory div.embedQuiz .page1 {
	display: block;
}
#pageStory div.embedQuiz .answer {
	padding: 0;
	display: none;
}

#pageStory .answer a.ui-btn, #pageStory a.continue.ui-btn {
	background: #900;
	color: #fff;
	border: none;
}
#pageStory .ui-slider input {
	background: #efede4;
	border-color: #900;
	color: #900;
}
#pageStory .ui-slider-track {
	padding: 0;
	background: #efede4;
	border-color: #900;
}
#pageStory .ui-slider-handle {
	padding: 0;
	border-color: #900;
	background: #900;
}

#pageStory div.embedSpending, #pageStory div.embedGuessing {
	background: #ede6c2;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0 0 .5em 0;
}
#pageStory div.embedSpending .ui-slider, #pageStory div.embedGuessing .ui-slider {
	padding-top: 0;
	margin: 0;
}
#pageStory div.embedSpending .answer {
	display: none;
}

.hideSecondPart .secondPart {
	color: #ddd;
}
.hideThirdPart .thirdPart, .hideFourthPart .fourthPart, .hideFivethPart .fivethPart, .hideSixthPart .sixthPart {
	display: none;
}

#pageStory div.embedPrinterLabel {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
#pageStory div.embedPrinterLabel h3 {
	margin: 0;
	text-align: center;
}
#pageStory div.embedPrinterLabel .buttons {
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
	border-radius: 4px;
	text-align: center;
	padding: 2px 0 1em 0;
}
#pageStory div.embedPrinterLabel .buttons a {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 4px;
	padding: .5em;
	margin: 0 0 0 -1px;
	text-decoration: none;
	color: #000;
}
#pageStory div.embedPrinterLabel .buttons a.selected {
	background: #f1f8fc;
	color: #38aadd;
	padding-bottom: .75em;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #38aadd;
}
#pageStory div.embedPrinterLabel .canvas {
	background: #fff;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 4px;
	display: block;
	text-align: center;
}
#pageStory div.embedPrinterLabel .canvas a {
	display: inline-block;
	margin: .5em;
	color: black;
}

#pageStory div.embedInfo {
	background: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 4px;
	border-top: 2px solid #38aadd;
	font-size: 16px;
	padding: 2em 2.5em 1em 2.5em;
	margin: 1em;
	position: relative;
}
#pageStory div.embedInfo.shrink {
	height: 6.7em;
	overflow-y: hidden;
}
#pageStory div.embedInfo h3 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 1em;
}
#pageStory div.embedInfo .showMore {
	position: absolute;
	bottom: 0;
	padding: .6em 0 .4em 0;
	text-align: center;
	width: 100%;
	max-width: 36em;
	background: rgba(243,243,243,.8);
	display: none;
}
#pageStory div.embedInfo.shrink .showMore {
	display: block;
}
#pageStory div.embedInfo .showMore a {
	background: #fff;
	border: 2px solid #38aadd;
	border-radius: 4px;
	padding: .5em;
}

#pageStory div.embedCredits {
	font-size: 15px;
	text-align: center;
	padding: 2em 2.5em;
	margin: 1em;
}

#pageStory div.embedAuthor {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 1em;
	margin: 0 auto;
	color: #999;
	line-height: 1.5em;
	display: inline-block;
	background: #fff;
	border: 1px solid #38aadd;
	border-radius: 4px;
	width: 20em;
	display: block;
}
#pageStory div.embedAuthor .fa-github {
	color: #000;
}
#pageStory div.embedAuthor .fa-heart {
	color: #d63e2a;
}

#pageStory .rotate20 {
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(20deg);
}
#pageStory .rotate10 {
	-moz-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}
#pageStory .rotateMin10 {
	-moz-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
#pageStory .rotate5 {
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}
#pageStory .rotateMin5 {
	-moz-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
@media (max-width: 40em) {
	#pageStory {
		margin-top: 2em;
	}
	#pageStory div.source {
		margin-top: -3.5em;
	}

	#pageStory div.embedTable {
		padding: 0;
	}
	#pageStory div.embedTable table {
		width: 100%;
		border-left: none;
		border-right: none;
		border-radius: 0;
		padding: 1em 0;
	}
	#pageStory div.embedTable div {
		padding: 1.5em 1.5em 0 1.5em;
	}

	#pageStory div.embedImage {
		padding: 1em 0;
		margin: 0;
	}
	#pageStory div.embedImage div {
		padding: .5em 1.5em 0 1.5em;
	}

	#pageStory div.embedPrinterLabel {
		padding: 0;
	}
	#pageStory div.embedPrinterLabel .buttons {
		border-left: none;
		border-right: none;
		border-radius: 0;
		overflow-x: scroll;
	}
	#pageStory div.embedPrinterLabel .canvas {
		padding: 0;
		border-left: none;
		border-right: none;
		border-radius: 0;
	}
	#pageStory div.embedPrinterLabel .canvas a {
		margin: .5em 0.2em;
	}
	#pageStory div.embedPrinterLabel .canvas a:nth-child(9) {
		display: none;
	}
	#pageStory div.embedPrinterLabel .leaflet-popup-content-wrapper {
		margin: 0;
	}

	#pageStory div.embedInfo {
		padding: 1em 0 0 0;
	}
	#pageStory div.embedInfo.shrink {
		height: 8em;
	}

	#pageStory div.embedCredits {
		padding: 1em;
	}
}

/* */
